.videoCard{
    width: 17rem;
    margin-bottom: 2.5rem;

}
.videoCard__thumbnail{
    height: 9rem;
    width: 16rem;
}

.videoCard__info{
    display: flex;
    margin-top: .625rem;
    padding-right: 2rem;

}
.videoCard__text{
    margin-left: 1rem;
}

.videoCard__text > h4 {
    field-sizing: 1rem;
    margin-bottom: .3rem;
}

.videoCard__text > p {
    font-size: 1rem;
    color: gray;
}

.videoCard__avatar {
    height: 2rem !important;
    width: 2rem !important;
}