.searchPage {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 1.25rem 1.25rem;
}

.searchPage__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-small !important;
}

.searchPage__filter > h2 {
  margin-left: 0.625rem;
  /* margin-bottom: 1.25rem; */
}

.searchPage > hr {
 height: 1px;
    background-color: lightgray;
    border: none;
    margin: .8rem 0;
}